<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/images/icon.png" type="image/png">

    <title> SkillHaven </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>

<body>
<!-- header start -->
<div th:if="${sessionUser == null OR sessionUser == ''}">
    <div th:replace="~{fragments/header :: crm-header}"></div>
</div>

<div th:unless="${sessionUser == null OR sessionUser == ''}">
    <div th:replace="~{fragments/user-header :: u-header}"></div>
</div>
<!-- header end -->



<!-- main content  start -->
<main class="container-fluid">
    <!-- bannner start -->
    <section class="container-fluid p-0">
        <img src="images/banner.jpg" alt="SkillHaven banner" class="img-fluid w-100"
             style="height: 60vh; object-fit: cover;">
    </section>

    <!-- banner end -->



    <!-- content  -->
    <section class="container py-4 bg-light">
        <h3 class="text-center mb-4">Our Courses</h3>


        <!-- course  div start -->
        <div class="row g-4">

            <!--one course card start  -->
            <div th:each="course :${coursesList}" class="col-lg-3 col-md-6">
                <div class="card" style="width: 18rem;">
                    <img th:src="@{${course.imageUrl}}" class="card-img-top"  alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title"><span th:text="${course.name}"></span></h5>
                        <p class="card-text">
                            <span th:text="${course.description}"></span>
                        </p>
                        <p> <strong>Price :</strong> <del>Rs. <span th:text="${course.originalPrice}"></span></del> <span class="bg-info p-2">Rs.<span th:text="${course.discountedPrice}"></span> </span>
                        </p>

                        <div th:if="${sessionUser == null OR sessionUser == ''}">
                             <a href="login" class="btn btn-outline-primary">Login to Buy</a>
                        </div>

                        <div th:unless="${sessionUser == null OR sessionUser == ''}">
                            <button class="btn btn-primary"
                                    th:data-cname="${course.name}"
                                    th:data-camount="${course.discountedPrice}"
                                    th:data-uname="${sessionUser.name}"
                                    th:data-uemail="${sessionUser.email}"
                                    th:data-uphoneno="${sessionUser.phoneno}"
                                    onclick="purchaseCourse(this.getAttribute('data-cname'), this.getAttribute('data-camount'), this.getAttribute('data-uname'), this.getAttribute('data-uemail'), this.getAttribute('data-uphoneno'))">
                                Buy
                            </button>
                        </div>


                    </div>
                    <div class="card-footer text-muted">
                        Updated : <span th:text="${course.updatedOn}"></span>
                    </div>
                </div>
            </div>
            <!--one course card end  -->

        </div>
        <!--course div end  -->

    </section>

</main>
<!-- main content  end -->

<!-- footer start -->
<div th:replace="~{fragments/footer  :: crm-footer}"></div>
<!-- footer ends -->

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

<!---------------------------- payment getways part-------------------------------------- -->



<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>

    // <!-- start    this is check the payments function work or not------------------->

    // function purchaseCourse(courseName,courseAmount,uname,uemail,uphoneno){
    //     // Debugging: Values print
    //     console.log("User Name: ", uname);
    //     console.log("User Email: ", uemail);
    //     console.log("User Phone: ", uphoneno);
    //
    //     // Alert for debugging
    //     alert("Name: " + uname + ", Email: " + uemail + ", Phone: " + uphoneno);
    //
    //     // Validation: Check in  name, email, aur phone number available ..
    //     if (!uname || !uemail || !uphoneno) {
    //         alert("Please provide all details: Name, Email, and Phone Number.");
    //         return uemail; // any value missing ho, then  function return
    //
    //     }
    // <!-- end   this is check the payments function work or not------------------->

    function purchaseCourse(courseName,courseAmount,uname,uemail,uphoneno){

        var options = {
            "key": "rzp_test_9BLhKcsgvQhrXm",
            "amount": courseAmount * 100,
            "currency": "INR",
            "name": uname,
            "description": "Course Transaction",
            // "image": "https://ailogomaker.io/prompt/5743-LOGO-Design-for-Mithila-Brothers-Makhana-Artistic-Fusion-of-Typography-and-Traditional-Mithila-Painting",
            "handler": function (response){
                console.log(response);
                alert("Payment Successfully");

                var requestData={
                                     courseName:courseName,
                                     courseAmount:courseAmount,
                                     userEmail:uemail,
                                     dateOfPurchase:new Date().toLocaleString(),
                                     rzpPaymentId:response.razorpay_payment_id

                                 };

                $.ajax({
                    type: "POST",
                    url:"/api/storeOrderDetails",
                    contentType:"application/json",
                    data:JSON.stringify(requestData),
                    success:function (response){
                        console.log("data stored successfully" ,response);
                        alert("\u{1F389} Hooray! Course purchased successfully! Thank you!");
                        window.location.href='/myCourses';
                    },
                    error:function (error){
                        console.log("Error :"+error);
                        alert(" Oops! Something went wrong. Please try again!" + error);
                    }

                });

            },
            "prefill": {
                "name": uname,
                "email": uemail,
                "contact": uphoneno
            },
            "notes": {
                "courseName": courseName
            },
            "theme": {
                "color": "#3399cc"
            }
        };


        var rzp1 = new Razorpay(options);

        rzp1.on('payment.failed', function (response){
            console.log(response);
            alert("Error :" +response);
        });

        rzp1.open();

    }

</script>
</body>

</html>